.App {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}